/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

.button-large {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 23.4%;
  height: 50px;
}

.panel {
  width: 31vw;
}
.list {
  margin: 0px;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.panel-page {
  margin: 0em; 
  padding: 0em; 
  height: 100%;
}

.keypad-block {
  padding-right: 12%; 
  padding-left: 12%; 
  margin-bottom: 0px; 
  position: fixed; 
  width: 100%; 
  bottom: 0;
}

.block-header {
  margin: 0px; 
  padding: 0px; 
}

.current {
  margin-bottom: 10px; 
  padding: 5px; 
  font-size: 1.4em; 
  display: inline-block;
}

.keypad-minimise {
  float: right; 
  display: inline-block; 
  padding: 0px
}

.cash-button {
  padding: 0em; 
  margin-top: 20px; 
  margin-bottom: 0px
}

.remove-botton {
  padding-right: 0px
}

.destiny-nav {
  margin-right: 16px;
}

.destiny-button {
  width: 220px
}

.categories-block {
  margin-top: 0px; 
  margin-bottom: 0px; 
  display: flex; 
  flex-wrap: wrap;
}

.category-title {
  font-size: 17px;
}

.items-block {
  display: flex; 
  flex-wrap: wrap;
}